body{ background-image: url("krata.png"); background-color:#e1d4c0; margin-top: 5px; 
      background-attachment: fixed; padding:0px; margin:0px; text-align:center;}
img{ border:none; }
h1{font-size:17px; font-family:georgia; color:#333333;margin-left:20px; margin-top: 20px; }
h2{ text-align: center; color: #bf1e84; font-family: georgia, arial, sans-serif; margin-top: 20px; }
h3{ margin-top:20px; margin-bottom:-10px;}
a.a:link{ text-decoration: none; color: #184bde;}
A.a:visited{ text-decoration: none; color: #184bde;}
A.a:hover{ background-color: #bcd1ef;}

a.ap:link{ text-decoration:none; color:#266f39;}
A.ap:visited{ text-decoration: none; color: #266f39;}
A.ap:hover{ background-color:#aad192}

a.ar:link{ text-decoration:none; color:#6f5026;}
A.ar:visited{ text-decoration: none; color: #6f5026;}
A.ar:hover{ background-color:#d6b99c}

a.as:link{ text-decoration:none; color:#222222;}
A.as:visited{ text-decoration:none; color:#222222;}
A.as:hover{ background-color:#cccccc}

a.c:link{ text-decoration: none; color:#495ad1;}
A.c:visited{ text-decoration: none; color:#495ad1;}
A.c:hover{ background-color:#bcd1ef;}

div#legenda{ margin-left:20px; margin-top:30px; font-size:11px; font-weight:bold; width:250px;}
div#m1{ color:#266f39; background-color:#aad192; padding-left:10px;}
div#m2{ color:#6f5026; background-color:#d6b99c; padding-left:10px; margin-top:1px;}
div#m3{ color:#333333; background-color:#cccccc; padding-left:10px; margin-top:1px;}


div#glowna{ position:relative; margin-top: 7px; margin-left:auto; margin-right:auto; width:800px;
            background-color:#f8f3e6; font-family:verdana, arial, sans-serif; padding:10px; }
div#glowna h2{ text-align:center; color:#5c5a52; font-family: arial, sans-serif; margin-top: 20px; }
div#glowna h3{ text-align:center; color:#5c5a52; font-family: arial, sans-serif; margin-top:-10px;
               margin-bottom:40px; }
div#glowna table{ margin-top:20px;  margin-bottom: 30px;  margin-left:auto;  margin-right:auto;
                  text-align:left; }
div#glowna tr{ vertical-align:text-top; }
div#glowna td{ height:35px; padding:0px 30px; font-size:15px; font-weight:bold;}
div#glowna a.a:link{ text-decoration:none; color:#184bde; padding:0px 10px;}
div#glowna A.a:visited{ text-decoration:none; color:#184bde; padding:0px 10px;}
div#glowna A.a:hover{ background-color:#bcd1ef; padding:0px 10px;}

div#calosc{position:relative; margin-top: 7px; margin-left:auto; margin-right:auto; 
            width:990px; margin-bottom:400px; }
div#all{position:relative; margin-top: 7px; margin-left:5px;}

div#polewej{ position:absolute; top:0px; left:0px; width:175px; padding-left:4px; padding-right:4px;
             background-color:#f8f3e6; border-style: solid; border-width: 1px; border-color: #6b675b; text-align:left;
             font-family: verdana, arial, sans-serif; padding-bottom: 10px; font-size:13px; }
div#left{ position:absolute; top:0px; left:0px; width:175px; padding-left:4px; padding-right:4px;
             background-color:#f8f3e6; border-style: solid; border-width: 1px; border-color: #6b675b; text-align:left;
             font-family: verdana, arial, sans-serif; padding-bottom: 10px; font-size:13px; }

div#polewej a{display: block;  width:177px; margin-bottom: 3px; margin-top:3px;}
div#polewej a:hover{ display: block; width:177px;  margin-bottom: 3px; margin-top:3px; background-color: #bcd1ef;}

div#polewej a#naPoczatek{font-weight:bold; font-size:16px; margin-bottom:5px; }
div#polewej a#Matura{ display: block; font-weight: bold; margin-top:10px; }
div#polewej a#Forum{display: block; font-weight: bold; margin-top:5px; }

div#polewej a.w:link{ text-decoration: none; margin-top:20px; width:140px;}
div#polewej A.w:visited{ text-decoration: none; margin-top:20px; width:140px;}
div#polewej A.w:hover{ background-color: #f8f3e6; margin-top:20px; width:140px;}

/*bylo width:800px*/
div#poprawej{ position:absolute; top:0px; left:180px; width: 790px; margin-left: 10px; 
              position:relative; background-color:#f8f3e6; padding-bottom:1px; 
              border:1px solid #6b675b; font-size:13px; font-family:verdana, arial, sans-serif;
	      text-align:left; z-index:100 }
div#right{ position:absolute; top:0px; left:180px; width: 780px; background-color:#f8f3e6; margin-left: 10px;
           padding-bottom: 1px; border-style: solid; border-width: 1px; border-color: #6b675b;
	   font-size: 13px; font-family: verdana, arial, sans-serif; text-align: left; }


div#linkiSzukaj{ width:780px; height:10px }
div#linksSearch{ width:780px; height:10px }

div#obrazek{ position:relative; margin:10px 0px 0px 10px; }
div#mathImage{ position: relative; left: 12px; top: 15px; margin-top:20px}

div#komentarzeForum{ text-align:center; margin-top:30px; font:bold 16px arial;}
div#komentarzeForum a{margin-right:50px; }
div#komentarzeForum span{  margin-right:50px; margin-left:20px; width:150px;}
div#szukanie{ margin:40px 0px 30px 200px; }

a#znajdz{color:blue; font-size:22px; padding: 0px 30px; text-decoration:none; cursor:pointer;
            border-style:solid; border-color:blue; border-width:0px 0px 2px 0px;   }
a#znajdz:hover{ background-color:#bcd1ef; cursor:pointer; }

div#tematy{ font-size: 13px; font-family: verdana, arial, sans-serif; margin-left:20px; }
div.blok{margin-bottom: 12px; margin-top:12px; margin-right:20px;}
div#tematy a{padding-left:2px; padding-right:2px;}
div#tematy a:hover{padding-left:2px; padding-right:2px;}

/*div#opis{ width:728px; text-align:justify; font-size:12px; font-family:verdana; height:16px; overflow:auto;
          margin:20px 0px 0px 10px; }*/
div#opis{ position:absolute; top:20px; left:200px; width:600px; z-index:50; }
div#description{ font-size:10px; font-family:times; color:#333333; margin-top:10px; }

/* ad - 468x60 */
div#ad{ width:780px; height:70px; margin:30px 0px 5px 170px;}
div#ad a:link{ text-decoration: none; color: #184bde; font: normal 18px arial; }
div#ad a:visited{ text-decoration: none; color: #184bde;}
div#ad a:hover{ background-color: #bcd1ef;}
div#ad img{ float:left; widtht:70px; }
div#adRight{ float:left; margin-left:20px; }
div#adOpis{width:550px; margin-top:5px;}


div#adi{ width:735px; height:20px;  margin:30px 0px 5px 10px; }

/*-------- drukowanie ---------------------- */
div#drukdodaj{position:absolute; top:100px; left:755px; width:64px; height:90px;
               background-color:#f8f3e6; border: 1px solid #6b675b;
               text-align:center; font-weight:bold; font-size:11px; color:#333333; cursor:pointer;}
div#druklicznik{font-size:24px; font-family:georgia; font-weight:normal; height:35px; padding-top:5px; cursor:pointer;}
div#drukdodaj:hover{background-color: #bcd1ef; cursor:pointer;}

div#drukkosz{ position:absolute; top:220px; left:755px; width:64px; height:47px; 
              background-color:#f8f3e6;  border: 1px solid #6b675b;
              text-align:center; font-weight:bold; font-size:11px; color:#333333;
              display:none; cursor:pointer;}

div#drukkosz:hover{background-color: #bcd1ef; cursor:pointer;}
div#drukkoszimg{ margin-top:5px; cursor:pointer; margin-bottom:3px;}

div#drukpdf{ position:absolute; top:300px; left:755px; width:64px; height:78px; 
             background-color:#f8f3e6; border: 1px solid #6b675b;
             text-align:center; font-weight:bold; font-size:11px; color:#333333;
             display:none; cursor:pointer;}

div#drukpdf:hover{background-color: #bcd1ef; cursor:pointer;}
div#drukpdfimg{ margin-top:10px; cursor:pointer; margin-bottom:6px; height:30px;}

div#drukJednaStrona{ position:absolute; top:300px; left:510px; width:190px; height:100px;
                     background-color:#fde6d8; border:1px solid #6b675b; font:normal 11px verdana;
                     text-align:justify; padding:10px; display:none }

/* ---------- rozne ----------------- */
div#polewej a#kropki{ display: block; margin-top:25px; }
div#cke{ margin:-50px 0 0 350px; width:420px; }
div#cke2{ margin-top:20px; width:700px; }
div#madr{ font-size:11px; color:#2b2925; margin-top:10px; }