/*
                                                    
********** << Dynamic Development Team >> **********
*                                                  *
*  Autor: Piotr Szawdyński            Wersja: 4.0  *
*  Kontakt: piotr.szawdynski@ddt.pl                *
*  ==============================================  *
*  Wszelkie prawa zastrzeżone 2005-2014            *
*                                                  *
****************************************************
                                                    
*/
html
{
	overflow: scroll;
	width: 100%;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}

body
{
	margin: 0px 20px 10px 20px;
	background-color: #e8e7e5;
	background-image: url('/!images/default/bg.png');
}

h1
{
	text-align: left;
	padding: 0px;
	margin: 0pt 0pt 12pt 0pt;
	font-size: 22pt;
	color: #000;
}

h1 img
{
	padding-right: 6px;
	vertical-align: middle;
}

h2
{
	text-align: left;
	padding: 0px;
	margin: 16px 0px 4px 0px;
	font-size: 16pt;
	color: #a33;
}

h3
{
	text-align: left;
	padding: 0px;
	margin: 12px 0px 2px 0px;
	font-size: 13pt;
	color: #a33;
}

h4
{
	text-align: left;
	padding: 0px;
	margin: 8px 0px 0px 0px;
	font-size: 11pt;
	color: #a33;
}

a:link,
a:active,
a:visited
{
	color: #1f65a6;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #ff831f;
	text-decoration: underline;
	font-weight: bold;
}

a *
{
	color: inherit;
}

img
{
	border-width: 0px;
}

button
{
	background: #fafaf2;
	border: 1px solid #e6e8d9;
	padding: 4px 6px;
	color: #555;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

button:hover
{
	border: 1px solid #ccc;
	color: #000;
}

button img
{
	vertical-align: middle;
	padding-right: 5px;
}

/* INFO: Nadawanie styli za pomocą klas */

.Right
{
	text-align: right;
}

.Bold
{
	font-weight: bold;
}

table,
table th,
table td
{
	border-width: 0px;
}
div.Layout
{
	width: 100%;
	background-color: #fff;
	border: 1px solid #bbb;
	border-top-width: 0px;
	
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 2px 2px 4px 2px #bbb;
	-moz-box-shadow: 2px 2px 4px 2px #bbb;
	-webkit-box-shadow: 2px 2px 4px 2px #bbb;
}

div.Layout div.Baner
{
	background-image: url('/!images/default/baner_bg.png');
	background-repeat: repeat-x;
	position: relative;
	z-index: 2;
	border-bottom: 2px solid #bbb;
}

div.Layout div.Extra
{
	width: 220px;
	padding: 0px 5px 5px 15px;
	float:right;
/*	border: 1px solid #bbb;
	background-color: #f7f7f7;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;*/
}

div.Layout div.Footer
{
	font-size: 10pt;
	border-top: 1px solid #bbb;
	padding: 2px 10px;
}

div.Layout div.Footer div
{
	text-align: center;
}

div.Layout div.Footer div.AllRightsReserved
{
	width: 35%;
	text-align: left;
	float: left;
}

div.Layout div.Footer div.Architect
{
	width: 35%;
	text-align: right;
	float: right;
}

/* INFO: input definition */
input[type="text"],
input[type="password"]
{
	font-size: 10pt;
	margin: 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	background: url('/!images/default/textbox_bg.png') repeat-x;
	background-color: #fff;
	color: #5a5a5a;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus
{
	border: 1px solid #21669b;
}

textarea
{
	padding: 3px;
	margin: 2px;
}

div.DynamicAddress
{
	width: auto;
	text-align: center;
}

div.DynamicAddress input#ddt_dynamicAddress
{
	width: 98%;
	margin-bottom: 10px;
}

div.AjaxLoadingPage
{
	position: absolute;
	z-index: 2;
	margin: 0px;
	padding: 3px 5px;
	display: block;
	font-weight: normal;
	font-size: 11pt;
	color: #000;
	border: 1px solid #f00;
	background-color: #ffc;
	text-align: center;
	width: 200px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}

div.Layout div.Baner div.SearchBox
{
	position: absolute;
	z-index: 2;
	right: 10px;
	bottom: 10px;
	background-color: #faf9f8;
	border: 3px double #aaa;
	font-size: 10pt;
}

div.Layout div.Baner div.SearchBox input[type="text"]
{
	width: 180px;
}

div.Layout div.Baner div.SearchBox div.Title
{
	background-color: #f0efed;
	background-image: url('/!images/default/forum/header.png');
	background-repeat: repeat-x;
	border-width: 0px;
	font-size: 10pt;
	letter-spacing: 0px;
	padding: 5px 5px;
	text-align: left;
	font-weight: bold;
	color: #676b6b;
	text-decoration: none;
	background-color: transparent;
	border-bottom: 3px double #aaa;
}

div.Layout div.Baner div.SearchBox div.Content
{
	padding: 3px 3px;
}

div.Layout div.Baner div.SearchBox a
{
	padding: 10px;
}
div.Panel
{
	width: auto;
	margin-bottom: 10px;
	font-size: 10pt;
}

div.Panel div.Header
{
	padding: 2px 1px 1px 1px;
	width: auto;
	height: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 10pt;
	text-align: center;

	background: url('/!images/default/panel_head.png');
    background-position: center;
    border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}

div.Panel div.Red
{
	background: url('/!images/default/panel_head_red.png');
}

div.Panel div.Content
{
	margin: 0px;
	padding: 3px;
	width: auto;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}

div.Panel div.Footer
{
    font-size: 9pt;
	padding: 2px 3px;
	width: auto;
	border: 1px solid #ccc;
	text-align: right;
	background-color: #f7f7f7;
	
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}
div.Layout ul.PrimaryMenu
{
	list-style: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	height: 35px;
	text-align: left;
	position: relative;
	z-index: 1;
}

div.Layout ul.PrimaryMenu li
{
	display: inline;
	margin-right: 8px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 10pt;
}

div.Layout ul.PrimaryMenu img
{
	vertical-align: middle;
	padding-right: 5px;
}

div.Layout ul.PrimaryMenu a:link,
div.Layout ul.PrimaryMenu a:active,
div.Layout ul.PrimaryMenu a:visited
{
	padding: 10px 10px 7px 10px;
	text-decoration: none;
	z-index: 2;

	background-color: #f7f7f7;
	color: #000;
	border: 1px solid #bbb;
	border-top-width: 0px;
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}

div.Layout ul.PrimaryMenu a:hover
{
	background-color: #fffff7;
	color: #255c94;
	border-color: #255c94;
	z-index: 2;

	position: relative;
	top: 5px;
}

div.Layout ul.PrimaryMenu li.Special a:link,
div.Layout ul.PrimaryMenu li.Special a:active,
div.Layout ul.PrimaryMenu li.Special a:visited
{
	background-color: #ffa;
}

div.Layout ul.PrimaryMenu li.Special a:hover
{
	background-color: #fea;
}
div#PanelUserMenu div.Panel div.UserMenu input
{
	width: 180px;
	margin-bottom: 5px;
}

div#PanelUserMenu div.Panel div.CreateAccount
{
	font-weight: bold;
	color: #e00;
	border-top: 1px solid #bbb;
	text-align: center;
	background-color: #ffa;
}

div#PanelUserMenu div.Panel div.Welcome
{
	font-weight: normal;
	border-bottom: 1px solid #eee;
	background-color: #ffa;
}

div#PanelUserMenu div.Panel div.Welcome div.Label
{
	font-weight: normal;
	text-decoration: underline;
}

div#PanelUserMenu div.Panel div.Welcome div.Account
{
	font-size: 14pt;
	font-weight: normal;
}

div#PanelUserMenu div.Panel div.Welcome div.Account a:link,
div#PanelUserMenu div.Panel div.Welcome div.Account a:active,
div#PanelUserMenu div.Panel div.Welcome div.Account a:visited
{
    font-size: 14pt;
    font-weight: normal;
    color: #000;
}

div#PanelUserMenu div.Panel div.Welcome div.Account a:hover
{
    font-size: 14pt;
    font-weight: normal;
    color: #ff831f;
}
div#PanelLastVisitedTopics div.Panel div.Content
{
    font-weight: normal;
    border-bottom: 1px solid #eee;
    color: #444;
    padding: 1px 0px 1px 8px;
}

div#PanelLastVisitedTopics div.Panel div.NotVisited
{
    background-color: #fdd;
    border-bottom: 1px solid #ccc;
}

div#PanelLastVisitedTopics div.Panel div.Footer
{
    border-top-width: 0px;
}

div#PanelLastVisitedTopics div.Panel div.Content div.Date
{
    font-size: 8pt;
    letter-spacing: 0px;
    font-weight: bold;
}

div#PanelLastVisitedTopics div.Panel div.Content div.Title img
{
    padding-right: 5px;
    vertical-align: middle;
}

div#PanelLastVisitedTopics div.Panel div.Content div.Title
{
    font-size: 8pt;
}

div#PanelLastVisitedTopics div.Panel div.Content div.Title a
{
    font-weight: normal;
    letter-spacing: 0px;
}
div.Layout div#PanelPage
{
	font-size: 11pt;
	padding: 0px 10px 10px 10px;
	text-align: justify;
	line-height: 1.5em;
	position: relative;
	width: auto;
	margin-right: 230px;
}

div.Layout div#PanelPage *
{
	line-height: normal;
}

div.Layout div#PanelPage div.copyright
{
	font-size: 12pt;
	clear: both;
	margin: 5px 70px;
	padding: 5px 10px;
	width: auto;
	border: 1px solid red;
	background-color: #fefac0;
	text-align: center;
}

div.Layout div#PanelPage div.copyright div.specialRights
{
	font-style: italic;
	font-size: 10pt;
	clear: both;
	margin-top: 5px;
	padding: 0px 0px;
	width: auto;
	border-top: 1px dotted red;
	background-color: #fefac0;
	text-align: justify;
}

div.Layout div#PanelPage div.LimitedAccess
{
	font-style: italic;
	font-size: 12pt;
	margin: 5px 110px;
	padding: 5px 10px;
	width: auto;
	border: 3px double red;
	background-color: #fefac0;
	text-align: center;
}

div#PanelPage table
{
	width: auto;
	padding: 0px;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

div#PanelPage table td
{
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 1px 5px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

div#PanelPage table tr.Row td
{
	background-color: #faf9f8;
}

div#PanelPage table th
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1px 5px;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	font-size: 10pt;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

/* INFO: formatowanie domyślne dla działów */
div#PanelPage strong.ShortDescription
{
	font-size: 10pt;
	font-weight: normal;
	color: #888;
	text-align: justify;
}

div#PanelPage div.Library
{
	float: right;
	font-size: 20pt;
	font-weight: bold;
	color: #44f;
}

div#PanelPage strong.ShortDescription span.Category
{
	color: #b00;
}

div#PanelPage div.LongDescription
{
	border-width: 0px;
	padding: 0px;
	margin: 4px 0px;
	width: auto;
	text-align: justify;
	line-height: 1.5em;
}

div#PanelPage div.LongDescription *
{
	line-height: normal;
}

div#PanelPage div.Header
{
	font-size: 10pt;
	border-bottom: 1px solid #bbb;
	padding: 2px 10px;
}

div#PanelPage div.Header div.Author
{
	text-align: right;
	width: 100%;
}

div#PanelPage div.Footer
{
	font-size: 10pt;
	border-top: 1px solid #bbb;
	padding: 2px 10px;
}

div#PanelPage table.Path th,
div#PanelPage table.Path td
{
	font-size: 10pt;
}

div#PanelPage table.PrevNext
{
	width: 100%;
	margin: 10px 0px;
}

div#PanelPage table.PrevNext td
{
	width: 50%;
	font-size: 10pt;
	color: #888;

	border-top-left-radius: 0px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px;
	border-top-right-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px;
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}

div#PanelPage table.PrevNext td:hover
{
	width: 50%;
	font-size: 10pt;
	color: #000;
	border-color: #255c94;
}

div#PanelPage table.PrevNext th
{
	padding: 0px 0px 0px 6px;
	vertical-align: middle;
	text-align: left;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 11pt;
	border-width: 0px;

	background: url('/!images/default/panel_head.png');
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px;
}

div#PanelPage button
{
	border-color: #ccc;
	text-decoration: underline;
}

div#PanelPage button:hover
{
	border-color: #477ea6;
}

div#PanelPage button img
{
	vertical-align: middle;
}

div#PanelPage div.Error
{
	background-color: #fdd;
	margin: 10px 0px;
	padding: 5px 5px;
	font-size: 11pt;
	border: 1px solid #f00;
}

div#PanelPage div.Error div.Title
{
	margin-bottom: 5px;
	font-size: 12pt;
	font-weight: bold;
}

div#PanelPage div.OK
{
	background-color: #dfd;
	margin: 10px 0px;
	padding: 5px 5px;
	font-size: 11pt;
	border: 1px solid #0f0;
}

div#PanelPage div.OK div.Title
{
	margin-bottom: 5px;
	font-size: 12pt;
	font-weight: bold;
}

div#PanelPage table.FormularzEdycji
{
	width: 100%;
	margin: 20px 0px 0px 0px;
	border-width: 0px;
	background-color: transparent;
}

div#PanelPage table.FormularzEdycji input
{
	width: 98%;
}

div#PanelPage table.FormularzEdycji textarea
{
	width: 98%;
	height: 480px;
}

div#PanelPage table.FormularzEdycji td.short textarea
{
	height: 80px;
}

div#PanelPage div.Toolbar
{
	margin: 5px 0px;
	padding: 4px 12px;
	font-size: 10pt;
	background-color: #fec;
	border-top: 3px double #fa0;
	border-bottom: 3px double #fa0;
	clear: left;
}

div#PanelPage div.Toolbar div.Type
{
	float: right;
	font-weight: bold;
	color: #f70;
}

div#PanelPage div.Toolbar div.Left
{
	float: left;
	margin-right: 50px;
}

div#PanelPage div.Toolbar div.Right
{
	float: right;
	margin-left: 50px;
}

div#PanelPage div.Toolbar+*
{
	margin-top: 0px;
}

div#PanelPage div.AdminToolbar
{
	background-color: #ffe4e4;
	border-top: 3px double #faa;
	border-bottom: 3px double #faa;
	margin: 20px 0px 20px 0px;
}

div#PanelPage div.AdminToolbar div.Type
{
	color: #f66;
}

div#PanelPage div.UserToolbar
{
/*	INFO: jest tak na przyszłość - obecnie wszelkie style załatwia div.Toolbar*/
}

/* INFO: poniżej są style do których powinien być teoretycznie osobny plik utworzony */
div#PanelPage div.ResultRow
{
	padding: 2px 10px;
	border: 1px solid #ccc;
	margin: 5px 0px;
}

div#PanelPage div.ResultRow div.Title
{
	font-size: 14pt;
}

div#PanelPage div.ResultRow div.ShortDescription
{
	font-size: 10pt;
	color: #888;
}

div#PanelPage div.ResultRow div.LongDescription
{
	font-family: 'Courier New', monospace;
	font-size: 10pt;
	padding: 0px 20px;
}

div#PanelPage div.cite
{
	width: auto;
	border: 1px dotted black;
	background-color: #fefac0;
	font-style: italic;
	padding: 3px 5px;
}

div#PanelPage div.TextDiff
{
	font-size: 10pt;
	display: block;
	border: 3px double #000;
	padding: 2px 4px;
	background-color: #fafafa;
}

div#PanelPage div.TextDiff ins
{
	background-color: #e6ffe6;
	text-decoration: none;
}

div#PanelPage div.TextDiff del
{
	background-color: #ffe6e6;
}div.Layout div#PanelSecondaryMenu
{
	margin: 0px 20px;
	border-top: 2px solid #bbb;
	padding: 2px 0px;
	clear: both;
}

div.Layout ul.SecondaryMenu
{
	list-style: none;
	margin: 0px 10px 0px 10px;
	padding: 0px;
	text-align: left;
	position: relative;
	z-index: 1;
}

div.Layout ul.SecondaryMenu li
{
	display: inline;
	white-space: nowrap;
	font-weight: bold;
	font-size: 11pt;
	padding: 0px 32px 0px 0px;
}

div.Layout ul.SecondaryMenu li.Right
{
	float: right;
	padding: 0px 0px 0px 32px;
	text-align: right;
}
div#PanelFooter
{
	padding: 0px;
}div#PanelStats div.Panel div.Content
{
	font-weight: normal;
	border-bottom: 1px solid #eee;
	color: #444;
	padding: 1px 0px 1px 8px;
}

div#PanelStats div.Panel div.Content:hover
{
	background-color: #ffa;
	color: #000;
}

div#PanelStats div.Panel div.Footer
{
	border-top-width: 0px;
}

div#PanelStats div.Panel div.Content div.Label
{
	font-weight: normal;
	text-decoration: underline;
	font-size: 10pt;
}

div#PanelStats div.Panel div.Content div.Value
{
	font-size: 13pt;
	font-weight: normal;
	padding: 0px 3px;
}

div#PanelStats div.Panel div.Online div.Value span
{
	font-weight: bold;
	letter-spacing: 2px;
}
div#PanelLastUpdated div.Panel div.Content
{
	text-align: center;
	color: #444;
}
div#PanelLastUpdated div.Panel div.Highlight
{
	background-color: #cfc;
}

div#PanelLastUpdated div.Panel div.Content div.Date
{
	font-size: 14pt;
}

div#PanelLastUpdated div.Panel div.Content div.Time
{
	font-size: 12pt;
}
div#PanelUserList div.Panel div.Content
{
	font-weight: normal;
	border-bottom: 1px solid #eee;
	color: #444;
}

div#PanelUserList div.Panel div.Content:hover
{
	background-color: #ffa;
}

div#PanelUserList div.Panel div.Content:hover div.LastSeen
{
	display: block;
}

div#PanelUserList div.Panel div.Footer
{
	border-top-width: 0px;
}

div#PanelUserList div.Panel div.Content div.User
{
	font-weight: normal;
}

div#PanelUserList div.Panel div.Content div.UserState
{
	font-weight: normal;
	text-align: right;
	float: right;
}

div#PanelUserList div.Panel div.Content div.LastSeen
{
	font-size: 8pt;
	text-align: right;
	color: #aaa;
	display: none;
}

div#PanelUserList div.Panel div.Content div.First
{
	display: block;
}
div#PanelAdverts
{
	text-align: center;
}

div#PanelAdvertsCentral
{
	width: auto;
	margin: 0px 230px 0px 0px;
	padding: 0px 10px;
}

div#PanelPageDescription
{
	border-bottom: 2px solid #bbb;
	background-color: #222;
/*	background-color: #922;*/
	padding: 2px 10px;
	text-align: justify;
	font-size: 10pt;
	color: #fff;

}

div#PanelPageDescription div.PageKeywords
{
	margin-left: 10px;
	color: #ff0;
	font-size: 10pt;
	float: right;
}
div.Layout div#PanelDebug
{
	font-size: 11pt;
	padding: 0px 10px 10px 10px;
	text-align: justify;
	line-height: 1.5em;
	position: relative;
	width: auto;
	margin-right: 230px;
}

div.Layout div#PanelDebug *
{
	line-height: normal;
}

div.Layout div#PanelDebug div.copyright
{
	font-size: 12pt;
	clear: both;
	margin: 5px 70px;
	padding: 5px 10px;
	width: auto;
	border: 1px solid red;
	background-color: #fefac0;
	text-align: center;
}

div.Layout div#PanelDebug div.copyright div.specialRights
{
	font-style: italic;
	font-size: 10pt;
	clear: both;
	margin-top: 5px;
	padding: 0px 0px;
	width: auto;
	border-top: 1px dotted red;
	background-color: #fefac0;
	text-align: justify;
}

div.Layout div#PanelDebug div.LimitedAccess
{
	font-style: italic;
	font-size: 12pt;
	margin: 5px 110px;
	padding: 5px 10px;
	width: auto;
	border: 3px double red;
	background-color: #fefac0;
	text-align: center;
}

div#PanelDebug table
{
	width: auto;
	padding: 0px;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

div#PanelDebug table td
{
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 1px 5px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

div#PanelDebug table tr.Row td
{
	background-color: #faf9f8;
}

div#PanelDebug table th
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1px 5px;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	font-size: 10pt;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

/* INFO: formatowanie domyślne dla działów */
div#PanelDebug strong.ShortDescription
{
	font-size: 10pt;
	font-weight: normal;
	color: #888;
	text-align: justify;
}

div#PanelDebug strong.ShortDescription span.Category
{
	color: #b00;
}

div#PanelDebug div.LongDescription
{
	border-width: 0px;
	padding: 0px;
	margin: 4px 0px;
	width: auto;
	text-align: justify;
	line-height: 1.5em;
}

div#PanelDebug div.LongDescription *
{
	line-height: normal;
}

div#PanelDebug div.Header
{
	font-size: 10pt;
	border-bottom: 1px solid #bbb;
	padding: 2px 10px;
}

div#PanelDebug div.Footer
{
	font-size: 10pt;
	border-top: 1px solid #bbb;
	padding: 2px 10px;
}

div#PanelDebug table.Path th,
div#PanelDebug table.Path td
{
	font-size: 10pt;
}

div#PanelDebug table.PrevNext
{
	width: 100%;
	margin: 10px 0px;
}

div#PanelDebug table.PrevNext td
{
	width: 50%;
	font-size: 10pt;
	color: #888;

	border-top-left-radius: 0px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px;
	border-top-right-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px;
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}

div#PanelDebug table.PrevNext td:hover
{
	width: 50%;
	font-size: 10pt;
	color: #000;
	border-color: #255c94;
}

div#PanelDebug table.PrevNext th
{
	padding: 0px 0px 0px 6px;
	vertical-align: middle;
	text-align: left;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 11pt;
	border-width: 0px;

	background: url('/!images/default/panel_head.png');
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px;
}

div#PanelDebug button
{
	border-color: #ccc;
	text-decoration: underline;
}

div#PanelDebug button:hover
{
	border-color: #477ea6;
}

div#PanelDebug button img
{
	vertical-align: middle;
}

div#PanelDebug div.Error
{
	background-color: #fdd;
	margin: 10px 0px;
	padding: 5px 5px;
	font-size: 11pt;
	border: 1px solid #f00;
}

div#PanelDebug div.Error div.Title
{
	margin-bottom: 5px;
	font-size: 12pt;
	font-weight: bold;
}

div#PanelDebug div.OK
{
	background-color: #dfd;
	margin: 10px 0px;
	padding: 5px 5px;
	font-size: 11pt;
	border: 1px solid #0f0;
}

div#PanelDebug div.OK div.Title
{
	margin-bottom: 5px;
	font-size: 12pt;
	font-weight: bold;
}

div#PanelDebug table.FormularzEdycji
{
	width: 100%;
	margin: 20px 0px 0px 0px;
	border-width: 0px;
	background-color: transparent;
}

div#PanelDebug table.FormularzEdycji input
{
	width: 98%;
}

div#PanelDebug table.FormularzEdycji textarea
{
	width: 98%;
	height: 480px;
}

div#PanelDebug table.FormularzEdycji td.short textarea
{
	height: 80px;
}

div#PanelDebug div.Toolbar
{
	margin: 5px 0px;
	padding: 4px 12px;
	font-size: 10pt;
	background-color: #fec;
	border-top: 3px double #fa0;
	border-bottom: 3px double #fa0;
	clear: left;
}

div#PanelDebug div.Toolbar div.Type
{
	float: right;
	font-weight: bold;
	color: #f70;
}

div#PanelDebug div.Toolbar div.Left
{
	float: left;
	margin-right: 50px;
}

div#PanelDebug div.Toolbar div.Right
{
	float: right;
	margin-left: 50px;
}

div#PanelDebug div.Toolbar+*
{
	margin-top: 0px;
}

div#PanelDebug div.AdminToolbar
{
	background-color: #ffe4e4;
	border-top: 3px double #faa;
	border-bottom: 3px double #faa;
	margin: 20px 0px 20px 0px;
}

div#PanelDebug div.AdminToolbar div.Type
{
	color: #f66;
}

div#PanelDebug div.UserToolbar
{
/*	INFO: jest tak na przyszłość - obecnie wszelkie style załatwia div.Toolbar*/
}

/* INFO: poniżej są style do których powinien być teoretycznie osobny plik utworzony */
div#PanelDebug div.ResultRow
{
	padding: 2px 10px;
	border: 1px solid #ccc;
	margin: 5px 0px;
}

div#PanelDebug div.ResultRow div.Title
{
	font-size: 14pt;
}

div#PanelDebug div.ResultRow div.ShortDescription
{
	font-size: 10pt;
	color: #888;
}

div#PanelDebug div.ResultRow div.LongDescription
{
	font-family: 'Courier New', monospace;
	font-size: 10pt;
	padding: 0px 20px;
}

div#PanelDebug div.cite
{
	width: auto;
	border: 1px dotted black;
	background-color: #fefac0;
	font-style: italic;
	padding: 3px 5px;
}
div#PanelBasicSearch div.Panel
{
    margin: 10px 30px;
}

div#PanelBasicSearch div.Panel div.Content
{
    font-size: 11pt;
	font-weight: normal;
	border-bottom: 1px solid #eee;
	color: #444;
    padding: 4px 8px;
}

div#PanelBasicSearch div.Panel div.Input
{
	text-align: center;
	background-color: #ffa;
}

div#PanelBasicSearch div.Panel div.AboutResult
{
	background-color: #cfc;
	border-top: 3px double #ccc;
	border-bottom: 3px double #ccc;
}

div#PanelBasicSearch div.Panel div.Content span
{
	color: #b00;
}

div#PanelBasicSearch div.Panel div.Content span.Path
{
	font-size: 10pt;
}

div#PanelBasicSearch div.Panel div.Content span.Path a
{
	font-weight: normal;
}

div#PanelBasicSearch div.Panel div.Content div.ResultTitle
{
	font-weight: normal;
	text-decoration: underline;
}

div#PanelBasicSearch div.Panel div.Content div.ResultFor
{
	font-size: 14pt;
	font-weight: bold;
}
div#PanelBasicSearch div.Panel div.Input input
{
	margin-left: 5px;
}

div#PanelBasicSearch div.Panel div.Input input.Button
{
	width: auto;
}

div#PanelBasicSearch div.Panel div.Content div.Title
{
    font-size: 12pt;
}

div#PanelBasicSearch div.Panel div.Content div.Icon
{
	float: left;
	width: 32px;
	text-align: center;
	padding: 0px;
}

div#PanelBasicSearch div.Panel div.Footer
{
	border-top-width: 0px;
	text-align: center;
	font-size: 10pt;
}
div#PanelInstantSearch div.Panel div.Content
{
	font-weight: normal;
	border-bottom: 1px solid #eee;
	color: #444;
}

div#PanelInstantSearch div.Panel div.Input
{
	text-align: center;
	background-color: #ffa;
}

div#PanelInstantSearch div.Panel div.AboutResult
{
	background-color: #cfc;
	border-top: 3px double #ccc;
	border-bottom: 3px double #ccc;
}

div#PanelInstantSearch div.Panel div.Content span
{
	color: #b00;
}

div#PanelInstantSearch div.Panel div.Content div.ExtraDetails
{
	font-size: 8pt;
}

div#PanelInstantSearch div.Panel div.Content div.ExtraDetails a
{
	font-weight: normal;
}

div#PanelInstantSearch div.Panel div.Content div.ResultTitle
{
	font-weight: normal;
	text-decoration: underline;
}

div#PanelInstantSearch div.Panel div.Content div.ResultFor
{
	font-size: 14pt;
	font-weight: normal;
}
div#PanelInstantSearch div.Panel div.Input input
{
	width: 120px;
	margin-left: 5px;
}

div#PanelInstantSearch div.Panel div.Input input.Button
{
	width: auto;
}

div#PanelInstantSearch div.Panel div.Content div.Title
{
	padding-top: 4px;
}

div#PanelInstantSearch div.Panel div.Content div.Icon
{
	float: left;
	width: 32px;
	text-align: center;
	padding: 0px;
}

div#PanelInstantSearch div.Panel div.Footer
{
	border-top-width: 0px;
	text-align: center;
	font-size: 8pt;
}
div.Home#PanelPage table.Grid
{
	width: auto;
	margin: 10px 0px;
	border: 0px;
}

div.Home#PanelPage table.Grid td
{
	vertical-align: top;
	width: 50%;
	border: 1px solid #ccc;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	padding: 5px;
	position: relative;
}

div.Home#PanelPage table.Grid td:hover
{
	border-color: #255c94;
}

div.Home#PanelPage table.Grid td div
{
	margin-top: 6px;
	margin-bottom: 20px;
}

div.Home#PanelPage table.Grid td div.Right
{
	margin-bottom: 0px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-weight: normal;
}

div.Home#PanelPage table.Grid td div.Right a
{
	font-weight: inherit;
}

div.Home#PanelPage table.Grid td div.Right a img
{
	vertical-align: middle;
	padding-right: 2px;
}

div.Home#PanelPage table.Grid img
{
	vertical-align: top;
	float: left;
}

div.Home#PanelPage table.Grid h2
{
	display: inline;
}
div.Donation#PanelPage div.Panel
{
	width: 400px;
	margin: 4px 0px;
	font-size: inherit;
}

div.Donation#PanelPage div.Panel div.Header
{
	text-align: left;
	padding: 5px 10px 0px 10px;
}

div.Donation#PanelPage div.Panel div.Content
{
	padding: 6px 3px;
	font-size: 12pt;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

div.Donation#PanelPage div.Panel div.Content div.BankAccount
{
	color: #f00;
}

div.Donation#PanelPage div.Panel div.Content div.PersonalData
{
	padding-top: 2px;
}

div.Donation#PanelPage div.Panel div.Footer
{
	text-align: left;
	background-color: #ffa;
	font-size: inherit;
}
div.Documentation#PanelPage h1
{
	margin: 0px;
	padding: 0px;
}

div.Documentation#PanelPage h2:first-child
{
	margin-top: 0px;
}

div.Documentation#PanelPage h2.Static
{
	color: #000;
}

div.Documentation#PanelPage h2+h3
{
	margin-top: 0px;
}

div.Documentation#PanelPage table.FlatList td
{
	font-size: 10pt;
}

div.Documentation#PanelPage table.FlatList td.Left
{
	font-size: 10pt;
	font-family: 'Courier New',monospace;
	text-align: left;
	vertical-align: top;
}

div.Documentation#PanelPage table.FlatList td.Left a img
{
	vertical-align: middle;
	padding-left: 3px;
}

div.Documentation#PanelPage table.FlatList td span.RelCategory
{
	color: #b00;
}

div.Documentation#PanelPage div.InsertExternalLink
{
	margin-left: 15px;
}

div.Documentation#PanelPage div.InsertExternalLink Input
{
	width: 400px;
}

div.Documentation#PanelPage div.InsertExternalLink div.Panel
{
	width: 600px;
	margin: 4px 0px;
	font-size: inherit;
}

div.Documentation#PanelPage div.InsertExternalLink div.Panel div.Header
{
	text-align: left;
	padding: 5px 10px 0px 10px;
	font-size: 10pt;
}

div.Documentation#PanelPage div.InsertExternalLink div.Panel div.Content
{
	padding: 6px 3px;
	font-size: 12pt;
	text-align: center;
	font-family: monospace;
	font-weight: normal;
}

div.Documentation#PanelPage div.InsertExternalLink div.Panel div.Footer
{
	text-align: left;
	background-color: #ffa;
	font-size: 10pt;
	letter-spacing: 1px;
	margin-right: 0px;
}
div.Tutorial#PanelPage h1
{
	margin: 0px;
	padding: 0px;
}

div.Tutorial#PanelPage h2:first-child
{
	margin-top: 0px;
}

div.Tutorial#PanelPage h2.Static
{
	color: #000;
}

div.Tutorial#PanelPage h2+h3
{
	margin-top: 0px;
}

div.Tutorial#PanelPage div.FlatList,
div.Tutorial#PanelPage div.FlatList div
{
	width: auto;
	border-width: 0px;
	padding: 0px;
	margin: 0px;

}

div.Tutorial#PanelPage div.FlatList div.Lesson
{
	background-color: #fcfcfc;
	border: #ddd 1px solid;
	padding: 0px 5px;
	margin: 5px 0px 5px 30px;
	clear: left;
	color: #888;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

div.Tutorial#PanelPage div.FlatList div.Lesson:hover
{
	background-color: #f6f6f6;
	border-color: #255c94;
	color: #000;
}

div.Tutorial#PanelPage div.FlatList div.Lesson div.Title
{
	border: 0px;
	padding: 0px;
	margin-right: 10px;
	font-size: 13pt;
}

div.Tutorial#PanelPage div.FlatList div.Lesson div.Description
{
	border: 0px;
	padding: 0px;
	margin-left: 20px;
	margin-right: 10px;
	font-size: 11pt;
}

div.Tutorial#PanelPage div.FlatList div.Lesson div.Title span.RelCategory
{
	color: #b00;
}div.Article#PanelPage h1
{
	margin: 0px;
	padding: 0px;
}

div.Article#PanelPage h2:first-child
{
	margin-top: 0px;
}

div.Article#PanelPage h2.Static
{
	color: #000;
}

div.Article#PanelPage h2+h3
{
	margin-top: 0px;
}

div.Article#PanelPage div.DispCateg
{
	clear: left;
}

div.Article#PanelPage div.FlatList div.Column
{
	clear: none;
	float: left;
	display: inline;
	width: 50%;
}

div.Article#PanelPage div.FlatList,
div.Article#PanelPage div.FlatList div
{
	width: auto;
	border-width: 0px;
	padding: 0px;
	margin: 0px;

}

div.Article#PanelPage div.FlatList div.Lesson
{
	background-color: #fcfcfc;
	border: #ddd 1px solid;
	padding: 0px 5px;
	margin: 5px 0px 5px 30px;
	clear: left;
	color: #888;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

div.Article#PanelPage div.FlatList div.Lesson:hover
{
	background-color: #f6f6f6;
	border-color: #255c94;
	color: #000;
}

div.Article#PanelPage div.FlatList div.Lesson div.Title
{
	border: 0px;
	padding: 0px;
	margin-right: 10px;
	font-size: 11pt;
	text-align: left;
}

div.Article#PanelPage div.FlatList div.Lesson div.Description
{
	border: 0px;
	padding: 0px;
	font-size: 10pt;
	border: 0px;
}
div.ForumPost#PanelPage h1
{
	padding: 0px;
	color: #e52;
	font-size: 22pt;
}

div.ForumPost#PanelPage
{
	font-size: 14pt;
	text-align: justify;
	width: auto;
}

div.ForumPost#PanelPage div.LastUpdateDT
{
	text-align: right;
	font-size: 10pt;
	color: #888;
}

div.ForumPost#PanelPage table.Stats
{
	margin: 20px 0px 0px 0px;
	background-color: transparent;
	border-width: 0px;
	width: 100%;
	background-color: #d7d7d7;
	border-bottom-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px;
}

div.ForumPost#PanelPage table.Stats tr.Header
{
  background-color: #f0efed;
  background-image: url('/!images/default/forum/header.png');
  background-repeat: repeat-x;
}

div.ForumPost#PanelPage table.Stats th
{
	border-width: 0px;
	font-size: 10pt;
	letter-spacing: 0px;
	padding: 1px 10px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	height: 30px;
	color: #676b6b;
	text-decoration: none;
	background-color: transparent;
}

div.ForumPost#PanelPage table.Stats td
{
	border-width: 0px;
	font-size: 11pt;
	padding: 4px 8px;
	text-align: left;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}

div.ForumPost#PanelPage table.Stats th.Left
{
	width: 250px;
}

div.ForumPost#PanelPage table.Stats th.Right
{
	width: auto;
}

div.ForumPost#PanelPage table.Stats td.Label
{
	width: 180px;
}

div.ForumPost#PanelPage table.Stats td.Score
{
	width: 70px;
	text-align: right;
	font-weight: bold;
}

div.ForumPost#PanelPage table.Stats td.Users
{
	width: auto;
}

div.ForumPost#PanelPage table.PostLayout
{
	margin: 0px;
	background-color: transparent;
	border-width: 0px;
	width: 100%;
	background-color: #d7d7d7;
}

div.ForumPost#PanelPage table.PostLayout th
{
	border-width: 0px;
	font-size: 10pt;
	letter-spacing: 0px;
	padding: 1px 10px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	height: 30px;
	color: #676b6b;
	text-decoration: none;
	background-color: transparent;
}

div.ForumPost#PanelPage table.PostLayout tr.Header
{
	background-color: #f0efed;
	background-image: url('/!images/default/forum/header.png');
	background-repeat: repeat-x;
}

div.ForumPost#PanelPage table.PostLayout td.Author
{
	width: 155px;
	padding: 2px 5px;
	margin: 0px;
	border-width: 0px;
	background-color: #f1f0ef;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.AccountName
{
	width: 150px;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.AccountType
{
	font-size: 10pt;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.Avatar
{
	padding: 5px 0px;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.NameAndSurname
{
	font-size: 10pt;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.PostCount
{
	padding-top: 10px;
	font-size: 10pt;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.TopicAuthor
{

background-color: #FAF9F8;
	margin-top: 10px;
	padding: 2px;
	font-size: 10pt;
	text-align: center;
	color: #1F65A6;
	border: 1px dotted #1F65A6;
	background-color: #fff;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.PostCount span.Value
{
	font-weight: bold;
}

div.ForumPost#PanelPage table.PostLayout td.Message
{
	width: 100%;
	margin: 0px;
	height: 200px;
	border-width: 0px;
	background-color: #faf9f8;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}

div.ForumPost#PanelPage table.PostLayout td.Message div.Date
{
	font-weight: bold;
	letter-spacing: 0px;
	font-size: 8pt;
}

div.ForumPost#PanelPage table.PostLayout td.Message div.UpdateSDT
{
	font-weight: bold;
	letter-spacing: 0px;
	font-size: 8pt;
	margin: 5px 0px 5px 0px;
}
div.ForumPost#PanelPage table.PostLayout td.Message div.RecentlyUpdated
{
	color: #f00;
}

div.ForumPost#PanelPage table.PostLayout td.Message div.HadSeen
{
    color: #aaa;
    font-size: 8pt;
}

div.ForumPost#PanelPage table.PostLayout td.Message div.HadSeen img
{
    vertical-align: middle;
    padding: 0px 4px;
}

div.ForumPost#PanelPage table.PostLayout td.PostPanel
{
	height: 20px;
	max-height: 20px;
	border-width: 0px;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
	vertical-align: middle;
}

div.ForumPost#PanelPage table.PostLayout td.Bar
{
	width: 100%;
	border-width: 0px;
	background-color: #faf9f8;
	background-image: url('/!images/default/forum/bar.png');
	background-repeat: repeat-y;
	color: #e52;
	padding: 2px 3px;
	text-align: center;
	vertical-align: top;
	font-weight: normal;
	font-size: 10pt;
	border-top-left-radius: 0px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px;
	border-top-right-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px;
}

div.ForumPost#PanelPage table.PostLayout td.Bar a
{
	padding: 0px 10px;
}

div.ForumPost#PanelPage table.PostLayout div.Title
{
	letter-spacing: 0px;
	border-bottom: 1px dotted #ccc;
	font-size: 14pt;
	color: #e52;
}

div.ForumPost#PanelPage table.PostLayout div.PostPanel
{
	letter-spacing: 0px;
	color: #e52;
}

div.ForumPost#PanelPage table.PostLayout div.PostPanel div.Left
{
	float: left;
	text-align: left;
	margin-right: 20px;
	font-size: 10pt;
}

div.ForumPost#PanelPage table.PostLayout div.PostPanel div.PostId
{
	text-align: right;
	font-size: 10pt;
}

div.ForumPost#PanelPage table.PostLayout div.Description
{
	padding: 4px 2px;
}

div.ForumPost#PanelPage table.PageInfo
{
	border-width: 0px;
	background-color: transparent;
	width: 100%;
	margin: 0px;
}

div.ForumPost#PanelPage table.PageInfo td
{
	border-width: 0px;
	width: auto;
	background-color: transparent;
	text-align: center;
	font-size: 10pt;
	letter-spacing: 1px;
	color: #000;
	font-weight: bold;
}

div.ForumPost#PanelPage table.PageInfo td.Prev
{
	width: 33%;
	text-align: left;
	font-weight: normal;
}

div.ForumPost#PanelPage table.PageInfo td.Next
{
	width: 33%;
	text-align: right;
	font-weight: normal;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.Admin
{
	color: #cc3333;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.Moderator
{
	color: #339933;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.User
{
	color: #000;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.Admin
{
	color: #f00;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.Banned
{
	color: #888;
	text-decoration: line-through;
}

div.ForumPost#PanelPage table.PostLayout td.Author div.Vip
{
	color: #a00;
	font-weight: bold;
}

div.ForumPost#PanelPage div.TopicPanel div.Left
{
	float: left;
	margin: 0px 30px 0px 0px;
}

div.ForumPost td.ManualPost
{
    background-color: #fbb!important;
}

div.Forum#PanelPage div.ForumPathTop,
div.ForumPost#PanelPage div.ForumPathTop
{
    border: 1px solid #ccc;
    margin: 2px 0px;
    padding: 1px 8px 2px 8px;
    background-color: #eee;
    font-size: 10pt;
    border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;
}

div.Forum#PanelPage div.ForumPathBottom,
div.ForumPost#PanelPage div.ForumPathBottom
{
    border: 1px solid #ccc;
    margin: 6px 0px 0px 0px;
    padding: 1px 8px 2px 8px;
    background-color: #eee;
    font-size: 10pt;
    border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;
}

div.Forum#PanelPage h1
{
	margin: 0px;
	padding: 0px;
}

/* ========= table.TopicListLayout ========= */
div.Forum#PanelPage table.TopicListLayout
{
	margin: 12px 0px;
	background-color: transparent;
	border-width: 0px;
	width: 100%;
	background-color: #d7d7d7;
}

div.Forum#PanelPage table.TopicListLayout th
{
	border-width: 0px;
	font-size: 10pt;
	letter-spacing: 0px;
	padding: 1px 10px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	height: 30px;
	color: #676b6b;
	text-decoration: none;
	background-color: transparent;
}

div.Forum#PanelPage table.TopicListLayout tr td
{
	background-color: #faf9f8;
	border-width: 0px;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}

div.Forum#PanelPage table.TopicListLayout tr.Alternative td
{
	background-color: #f1f0ef;
}

div.Forum#PanelPage table.TopicListLayout tr.Header
{
  background-color: #f0efed;
  background-image: url('/!images/default/forum/header.png');
  background-repeat: repeat-x;
}

div.Forum#PanelPage table.TopicListLayout th.Description
{
	text-align: left;
}

div.Forum#PanelPage table.TopicListLayout th.PostCount
{
	padding: 1px 0px;
}

div.Forum#PanelPage table.TopicListLayout td.TopicImage
{
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	width: 29px;
}

div.Forum#PanelPage table.TopicListLayout td.Description
{
	width: auto;
	margin: 0px;
	border-width: 0px;
	vertical-align: middle;
}

div.Forum#PanelPage table.TopicListLayout td.Description div.Title
{
	font-size: 10pt;
}

div.Forum#PanelPage table.TopicListLayout td.Description div.Title img
{
	padding-right: 3px;
	vertical-align: middle;
}

div.Forum#PanelPage table.TopicListLayout td.Bar
{
	background-color: #faf9f8;
	background-image: url('/!images/default/forum/bar.png');
	background-repeat: repeat-y;
	color: #e52;
	padding: 0px 3px;
	text-align: center;
	vertical-align: top;
	font-weight: normal;
	font-size: 10pt;
	width: 100%;
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}

div.Forum#PanelPage table.TopicListLayout td.PostCount
{
	font-weight: normal;
	width: 75px;
	text-align: center;
	vertical-align: middle;
	font-size: 10pt;
}

div.Forum#PanelPage table.TopicListLayout td.Creator
{
	font-weight: normal;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	font-size: 10pt;
}

div.Forum#PanelPage table.TopicListLayout td.LastPost
{
	width: 120px;
	text-align: center;
	vertical-align: middle;
	font-size: 10pt;
}

div.Forum#PanelPage table.TopicListLayout td.LastPost div.Date
{
	font-size: 8pt;
	letter-spacing: 0px;
	text-align: center;
	color: #666;
}

div.Forum#PanelPage table.TopicListLayout td.Bar a
{
	padding: 0px 2px;
}

div.Forum#PanelPage table.TopicListLayout img
{
	vertical-align: middle;
}

/* ========= table.PageInfo ========= */
/*
div.Forum#PanelPage table.PageInfo
{
	border-width: 0px;
	background-color: transparent;
	width: 100%;
	margin: 0px;
}

div.Forum#PanelPage table.PageInfo td
{
	width: auto;
	background-color: transparent;
	text-align: center;
	font-size: 12pt;
	letter-spacing: 1px;
	color: #5d5dff;
	color: #e52;
}

div.Forum#PanelPage table.PageInfo td.Prev
{
	width: 33%;
	text-align: left;
	font-weight: normal;
}

div.Forum#PanelPage table.PageInfo td.Next
{
	width: 33%;
	text-align: right;
	font-weight: normal;
}
*/

/* ===== table.MainLayout =======*/

div.Forum#PanelPage table.MainLayout img
{
	vertical-align: middle;
}


div.Forum#PanelPage table.MainLayout
{
	margin: 12px 0px;
	background-color: transparent;
	border-width: 0px;
	width: 100%;
	background-color: #d7d7d7;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}

div.Forum#PanelPage table.MainLayout th
{
	border-width: 0px;
	font-size: 10pt;
	letter-spacing: 0px;
	padding: 1px 10px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	height: 30px;
	color: #676b6b;
	text-decoration: none;
	background-color: transparent;
}

div.Forum#PanelPage table.MainLayout tr td
{
	background-color: #faf9f8;
	border-width: 0px;
	font-size: 10pt;
	border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}

div.Forum#PanelPage table.MainLayout tr.Category td.LastPost,
div.Forum#PanelPage table.MainLayout tr.Category td.PostCount,
div.Forum#PanelPage table.MainLayout tr.Category td.TopicCount,
div.Forum#PanelPage table.MainLayout tr.Category td.Description,
div.Forum#PanelPage table.MainLayout tr.Category td.LastPostIcon
{
	background-color: transparent;
	border-top: 2px solid #faf9f8;
	border-bottom: 2px solid #faf9f8;
	padding: 2px 5px;
}

div.Forum#PanelPage table.MainLayout tr.Category td.PostCount,
div.Forum#PanelPage table.MainLayout tr.Category td.TopicCount
{
	background-color: #c0c0c0;
	font-weight: bold;
}

div.Forum#PanelPage table.MainLayout tr.Header
{
  background-color: #f0efed;
  background-image: url('/!images/default/forum/header.png');
  background-repeat: repeat-x;
}

div.Forum#PanelPage table.MainLayout th.Description
{
	text-align: left;
}

div.Forum#PanelPage table.MainLayout th.PostCount
{
	padding: 1px 0px;
}

div.Forum#PanelPage table.MainLayout td.Image
{
	margin: 0px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	width: 50px;
}

div.Forum#PanelPage table.MainLayout td.Description
{
	margin: 0px;
	padding: 3px 5px;
	width: auto;
	border-width: 0px;
	vertical-align: middle;
}

div.Forum#PanelPage table.MainLayout td.Description h2
{
	margin: 0px;
	font-size: 14pt;
}

div.Forum#PanelPage table.MainLayout td.Description a
{
	text-decoration: none;
}

div.Forum#PanelPage table.MainLayout td.Description div.Title
{
	font-size: 11pt;
}

div.Forum#PanelPage table.MainLayout td.Description div.Title img
{
	padding-right: 3px;
	vertical-align: middle;
}

div.Forum#PanelPage table.MainLayout td.PostCount,
div.Forum#PanelPage table.MainLayout td.TopicCount,
div.Forum#PanelPage table.MainLayout td.LastPostIcon
{
	font-weight: normal;
	width: 75px;
	text-align: center;
	vertical-align: middle;
	background-color: #f1f0ef;
}

div.Forum#PanelPage table.MainLayout td.Creator
{
	font-weight: normal;
	width: 120px;
	text-align: center;
	vertical-align: middle;
}

div.Forum#PanelPage table.MainLayout td.LastPost
{
	width: 120px;
	text-align: center;
	vertical-align: middle;
}

div.Forum#PanelPage table.MainLayout td.LastPostIcon
{
	width: 25px;
	text-align: center;
	vertical-align: middle;
}

div.Forum#PanelPage table.MainLayout td.LastPost div.Date
{
	font-size: 8pt;
	letter-spacing: 0px;
	text-align: center;
	color: #666;
}

div.Forum#PanelPage table.MainLayout td.Bar
{
	width: 100%;
}

div.Forum#PanelPage table.MainLayout td.Bar a
{
	padding: 0px 2px;
}

div.Forum#PanelPage div.RecentPostList
{
	padding: 2px 4px;
}

div.Forum#PanelPage div.RecentPostList div.PostPreview,
div.Forum#PanelPage div.RecentPostList div.PostPreviewAuthor
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 1px 0px;
	padding: 2px 4px; 
	font-size: 10pt;
}
        
div.Forum#PanelPage div.RecentPostList div.PostPreviewAuthor
{
	background-color: #ffb;
}

div.Forum#PanelPage div.RecentPostList span.UserRoleInTopic
{
	font-weight: bold;
}

div.Forum#PanelPage div.BeforeCreateTopic
{
	margin: 10px 0px;
	padding: 4px 8px;
	background-color: #dfd;
	border: 1px solid black;
	font-size: 12pt;
}div.News#PanelPage h1
{
	margin-bottom: 0px;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.Header
{

	background-color: #f0efed;
	background-image: url('/!images/default/forum/header.png');
	background-repeat: repeat-x;
	font-weight: bold;
	font-size: 10pt;
	padding: 5px 5px;
	margin: 0px!important;
	text-decoration: underline;
	color: #676b6b;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.Footer
{
	font-size: 10pt;
	padding: 3px 10px;
	width: auto;
	border-width: 0px;
	text-align: left;
	background-color: #f7f7f7;
}

/* ======== table.RecentlyUpdated ======== */
div.News#PanelPage table.RecentlyUpdated
{
	width: 100%;
	margin-bottom: 10px;
}

div.News#PanelPage table.RecentlyUpdated td
{
	width: 50%;
	position: relative;
	border-width: 0px;
}

div.News#PanelPage table.RecentlyUpdated td div.Content
{
	position: relative;
	width: auto;
	border: 1px solid #ccc;
}

div.News#PanelPage div.Icon
{
	float: left;
	width: 32px;
	text-align: center;
	padding: 2px;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow
{
	border-bottom: 1px solid #eee;
	clear: both;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover
{
	background-color: #ffa;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.Title
{
	padding: 2px 4px 0px 4px;
	font-size: 10pt;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.Title img
{
	padding-right: 3px;
	vertical-align: middle;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.NodeTypeName
{
	padding: 0px 4px 2px 4px;
	text-align: left;
	font-size: 8pt;
	font-weight: bold;
	color: #000;
	float: left;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.Category
{
	padding: 0px 4px 2px 4px;
	text-align: left;
	font-size: 8pt;
	font-weight: bold;
	color: #a33;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.ExternalLink
{
	padding: 0px 4px 2px 4px;
	text-align: left;
	font-size: 8pt;
	font-weight: bold;
	color: #888;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.PublishDT
{
	float: right;
	font-size: 8pt;
	text-align: right;
	padding: 0px 4px 2px 4px;
	color: #000;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.WhatIsIt
{
	float: right;
	font-size: 8pt;
	text-align: right;
	padding: 0px 4px 2px 4px;
	color: #000;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow div.Description
{
	display: none;
	position: absolute;
	top: -1px;
	left: 100%;
	right: 0px;
	z-index: 1;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover div.Description:hover
{
	display: none;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover div.Description
{
	margin-left: 12px;
	background-color: #ffa;
	border: 1px solid #a00;
	display: block;
	width: 100%;
	min-height: 100%;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover div.Description div
{
	clear: both;
	margin: 3px 10px;
}


div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover div.Description div.Label
{
	font-size: 12pt;
	font-weight: bold;
	text-decoration: underline;
	color: #255c94;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover div.Description div.Value
{
	font-size: 10pt;
	font-weight: normal;
	padding-bottom: 10px;
	text-align: justify;
	color: #000;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover div.Description div.NodeTypeName
{
	font-size: 11pt;
	font-weight: bold;
}

div.News#PanelPage table.RecentlyUpdated td div.Content div.PublishedDocumentsRow:hover div.Description span.Category
{
	font-weight: bold;
	color: #a33;
}

/* ======== table.TopicUpdates ======== */

div.News#PanelPage div.TopicUpdatesRow
{
    padding: 0px;
    margin: 0px;
}

div.News#PanelPage div.TopicUpdatesRow div.Icon
{
    width: auto;
    float: left;
    padding: 5px 5px 5px 4px;
}

div.News#PanelPage div.TopicUpdatesRow div.Title
{
    padding: 2px 4px 0px 4px;
	font-size: 11pt;
}

div.News#PanelPage div.TopicUpdatesRow div.Title img
{
	padding-right: 3px;
	vertical-align: middle;
}

div.News#PanelPage div.TopicUpdatesRow div.LastPost
{
	padding: 0px 4px 0px 4px;
	text-align: left;
	font-size: 8pt;
	font-weight: normal;
}

div.News#PanelPage div.TopicUpdatesRow div.Title a
{
    font-weight: normal;
    letter-spacing: 0px;
}

div.News#PanelPage div.TopicUpdatesRow div.PublishDT
{
	float: right;
	font-size: 8pt;
	text-align: right;
	padding: 0px 4px 2px 4px;
    color: #888;
}

div.News#PanelPage table.Eksperymenty
{
    width: 100%;
    border-spacing: 4px 2px;
}
div.News#PanelPage table.Eksperymenty td
{
    vertical-align: middle;

    /* border-width: 0px;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px;*/
    border-color: #ccc;
    padding: 0px;
    width: 50%;
}

/* ======== div.SingleNews ======== */
div.News#PanelPage div.SingleNews
{
	border-width: 0px;
	margin: 5px 0px 15px 0px;
}

div.News#PanelPage div.SingleNews div.Header
{
	padding: 5px 5px 0px 5px;
	width: auto;
	height: 25px;
	color: #fff;
	font-weight: bold;
	font-size: 11pt;
	text-align: left;

	background: url('/!images/default/panel_head.png');
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}

div.News#PanelPage div.SingleNews div.Content
{
	margin: 0px;
	padding: 3px;
	width: auto;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}

div.News#PanelPage div.OnlyOne div.Content
{
	border-width: 0px;
}

div.News#PanelPage div.SingleNews div.Content div.Icon
{
	width: auto;
	float: left;
	padding: 0px 5px;
	margin: 0px;
}

div.News#PanelPage div.SingleNews div.Content div.Description
{
	min-height: 50px;
	line-height: 1.5em;
	font-size: 11pt;
}

div.News#PanelPage div.SingleNews div.Content div.Description *
{
	line-height: normal;
	font-size: inherit;
}

div.News#PanelPage div.SingleNews div.Footer
{
	font-size: 10pt;
	padding: 3px;
	width: auto;
	border: 1px solid #ccc;
	text-align: right;
	background-color: #f7f7f7;

	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}

div.News#PanelPage div.SingleNews div.Footer a img
{
	vertical-align: middle;
	padding-right: 2px;
}

div.News#PanelPage div.SingleNews div.Description div.Details
{
	font-size: 10pt;
	font-weight: bold;
	border-bottom: 1px solid #eee;
	margin-left: 60px;
	padding-bottom: 2px;
}

div.News#PanelPage div.OnlyOne div.Description div.Details
{
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	font-weight: normal;
}

div.News#PanelPage div.OnlyOne div.Description div.Details img
{
	margin-left: 0px;
	vertical-align: top;
	padding-right: 5px;
}

div.News#PanelPage div.SingleNews div.Description div.Details div.Author
{
	text-align: left;
}

div.News#PanelPage div.SingleNews div.Description div.Details div.CreateDT
{
	float: right;
}

/* ====== div.RecentlyUpdatedDocument ========== */

div.News#PanelPage div.RecentlyUpdatedDocument
{
	margin: 15px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.Icon
{
	float: left;
	width: 32px;
	text-align: center;
	padding: 2px;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.Title
{
	padding: 2px 4px 0px 4px;
	font-size: 12pt;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.Title img
{
	padding-right: 3px;
	vertical-align: middle;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.NodeTypeName
{
	padding: 0px 4px 2px 4px;
	text-align: left;
	font-size: 11pt;
	font-weight: bold;
	color: #000;
	float: left;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.Category
{
	padding: 0px 4px 2px 4px;
	text-align: left;
	font-size: 11pt;
	font-weight: bold;
	color: #a33;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.UpdateDT
{
	float: right;
	font-size: 11pt;
	text-align: right;
	padding: 0px 4px 2px 4px;
	color: #000;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.Description
{
	min-height: 11pt;
	padding: 3px 5px;
}

div.News#PanelPage div.RecentlyUpdatedDocument div.Footer
{
	font-size: 10pt;
	padding: 0px;
	width: auto;
	border-width: 0px;
	text-align: left;
	border-top: 1px solid #ccc;
	background-color: #f7f7f7;
}

div.News#PanelPage div.PagePanel
{
	text-align: center;
	font-size: 10pt;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	color: #e52;
}

div.News#PanelPage div.PagePanel a
{
	margin: 2px 5px;
}
div.News#PanelPage hr
{
    border: 0px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #ddd;
    height: 1px;
}

div.News#PanelPage table.OstatnioNaForum
{
    width: 100%;
    border-spacing: 4px 2px;
}

div.News#PanelPage table.OstatnioNaForum th.Header
{
    margin: 0px;
    padding: 1px 0px 4px 0px;
    width: auto;
    color: #fff;
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
    border-width: 0px;

    background: url('/!images/default/panel_head.png');
    background-position: center;
    background-repeat: repeat-x;
}

div.News#PanelPage table.OstatnioNaForum th.Footer
{
    text-align: right;
}

div.News#PanelPage table.OstatnioNaForum td.Default
{
    vertical-align: middle;
    border-color: #ccc;
    padding: 0px;
    width: 50%;
}

div.News#PanelPage table.OstatnioNaForum td.TopicOwner
{
    background-color: #ffa;
}
div.News#PanelPage table.OstatnioNaForum div.Row div.Icon
{
    width: auto;
    float: left;
    padding: 5px 5px 5px 4px;
}

div.News#PanelPage table.OstatnioNaForum div.Row div.Title
{
    padding: 2px 4px 0px 4px;
	font-size: 11pt;
}

div.News#PanelPage table.OstatnioNaForum div.Row div.Title a
{
    font-weight: normal;
    letter-spacing: 0px;
}

div.News#PanelPage table.OstatnioNaForum div.Row div.Title img
{
	padding-right: 3px;
	vertical-align: middle;
}

div.News#PanelPage table.OstatnioNaForum div.Row div.UpdateInfo
{
	padding: 0px 4px 0px 4px;
	text-align: left;
	font-size: 8pt;
	font-weight: normal;
}

div.News#PanelPage table.OstatnioNaForum div.Row div.PostCount
{
    color: #888;
	float: right;
	font-size: 8pt;
	text-align: right;
    text-decoration: underline;
    padding: 0px 4px 2px 4px;
}
div.News#PanelPage hr
{
    border: 0px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #ddd;
    height: 1px;
}

div.News#PanelPage table.ZmienianeDokumenty
{
    width: 100%;
    border-spacing: 4px 2px;
}

div.News#PanelPage table.ZmienianeDokumenty th.Header
{
    margin: 0px;
    padding: 1px 0px 4px 0px;
    width: auto;
    color: #fff;
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
    border-width: 0px;

    background: url('/!images/default/panel_head.png');
    background-position: center;
    background-repeat: repeat-x;
}

div.News#PanelPage table.ZmienianeDokumenty th.Footer
{
    text-align: right;
}

div.News#PanelPage table.ZmienianeDokumenty td
{
    vertical-align: middle;
    border-color: #ccc;
    padding: 0px;
    width: 50%;
}

div.News#PanelPage table.ZmienianeDokumenty div.Row div.Icon
{
    width: auto;
    float: left;
    padding: 5px 5px 5px 4px;
}

div.News#PanelPage table.ZmienianeDokumenty div.Row div.Title
{
    padding: 2px 4px 0px 4px;
	font-size: 10pt;
    text-align: justify;
}

div.News#PanelPage table.ZmienianeDokumenty div.Row div.Title a
{
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 11pt;
}

div.News#PanelPage table.ZmienianeDokumenty div.Row div.Title img
{
	padding-right: 3px;
	vertical-align: middle;
}

div.News#PanelPage table.ZmienianeDokumenty div.Row div.Description
{
    text-align: justify;
    font-size: 10pt;
    font-weight: normal;
    padding-bottom: 3px;
}


div.News#PanelPage table.ZmienianeDokumenty div.Row div.UpdateInfo
{
	padding: 0px 4px 0px 4px;
	text-align: left;
	font-size: 8pt;
	font-weight: normal;
}

div.News#PanelPage table.ZmienianeDokumenty div.Row div.UpdateDT
{
	float: right;
	font-size: 8pt;
	text-align: right;
    font-weight: bold;
    padding: 3px 4px 0px 4px;
}

div.News#PanelPage table.ZmienianeDokumenty div.Row div.Category
{
    float: right;
    font-size: 8pt;
    text-align: right;
    padding: 0px 4px 2px 4px;
    font-weight: bold;
    color: #a33;
}div.Statute#PanelPage table td
{
	border-width: 0px;
}
div.Registration#PanelPage table
{
	margin: 10px;
	border: 1px solid #aaa;
	width: auto;
}

div.Registration#PanelPage table th.Header
{
	background-color: #f0efed;
	background-image: url('/!images/default/forum/header.png');
	background-repeat: repeat-x;
	font-weight: bold;
	font-size: 10pt;
	padding: 5px 5px;
	margin: 0px;
	text-decoration: underline;
	color: #676b6b;
}

div.Registration#PanelPage table td
{
	border-width: 0px;
}

div.Registration#PanelPage table th.Footer
{
	padding: 2px 5px;
}

div.Registration#PanelPage table th.Footer div.Left
{
	float: left;
}

div.Registration#PanelPage table th.Footer div.Right
{
	float: right;
}

div.Registration#PanelPage table td
{
	width: auto;
	vertical-align: middle;
}

div.Registration#PanelPage table td.Error
{
	width: 30px;
	text-align: center;
	vertical-align: middle;
	color: #f00;
}

div.Registration#PanelPage table td.ErrorMessage
{
	background-color: #fdd;
	margin: 10px 0px;
	padding: 5px 5px;
	font-size: 11pt;
	border: 1px solid #f00;
}

div.Registration#PanelPage table td.Value *
{
	width: 100%;
}div#PanelPage div.codeInfo
{
	margin: 2px 10px;
	padding: 0px;
	border: 1px solid #aaa;
	background-color: #fff;
	width: auto;
}

div#PanelPage div.codeInfo div
{
	padding: 1px 4px;
	margin: 0px;
	border-width: 0px;
}

div#PanelPage div.codeInfo div.header
{
	color: #000;
	font-family: 'Courier New', monospace;
	letter-spacing: 1px;
	font-size: 10pt;
	padding: 2px 6px;
	margin: 0px;
	background-color: #e8e7e5;
	width: auto;
	border-bottom: 1px solid #aaa;
	font-weight: bold;

}

div#PanelPage div.code,
div#PanelPage div.codeCpp,
div#PanelPage div.codeHaskell
{
	font-family: 'Courier New', monospace;
	font-size: 10pt;
	display: block;
	border: 1px solid #aaa;
	padding: 2px 4px;
	margin: 2px 10px;
	width: auto;
	font-weight: normal;
	text-align: left;
	background-color: #fff;
}

div#PanelPage div.code
{
	background-color: #222;
	color: #bbb;
}

div#PanelPage div.modeInline
{
	display: inline;
	width: auto;
	vertical-align: middle;
	margin: 0px 4px;
	padding: 0px 2px;
	white-space: nowrap;
}

div#PanelPage div.modeCollapse
{
	height: 500px;
	overflow: auto;
}

div#PanelPage span.text
{
	color: #a00;
}

div#PanelPage span.digit
{
	color: #099;
}

div#PanelPage span.operator
{
	color: #f00;
}

div#PanelPage span.comment
{
	color: #888;
}

div#PanelPage span.multiComment
{
	color: #888;
}

div#PanelPage span.block
{
	color: #000;
	font-weight: bold;

}

div#PanelPage span.semicolon
{
	color: #f0f;
}

div#PanelPage span.comma
{
	color: #f0f;
}

div#PanelPage span.preprocessor
{
	font-weight: bold;
	color: #090;
}

div#PanelPage span.garbage
{
	color: #f0f;
	font-size: 14pt;
	font-weight: bold;
}

div#PanelPage span.keyword
{
	color: #00f;
	font-weight: bold;
}

div#PanelPage span.keywordCPP11
{
	color: #88f;
	font-weight: bold;
}

div#PanelPage span.keywordVCPP
{
	color: #a00;
	font-weight: bold;
}

div#PanelPage span.destructor
{
	color: #f00;
}

div#PanelPage table.cite
{
	width: auto;
	border: 1px dotted black;
	background-color: #fefac0;
}

div#PanelPage table.cite td
{
	width: auto;
	border-width: 0px;
	background-color: transparent;
}
/* ciąg dalszy*/
div#PanelPage table.divStyle
{
	background-color: #ffd;
}

div#PanelPage table.divStyle td
{
	background-color: transparent;
}

div#PanelPage table.divStyle_Attention
{
	background-color: #fdd;
}

div#PanelPage table.divStyle_Attention td
{
	background-color: transparent;
}

div#PanelPage table.divStyle_Tip
{
	background-color: #dfd;
}

div#PanelPage table.divStyle_Tip td
{
	background-color: transparent;
}

div#PanelPage div.style_Tip/* TODO: sprawdzić czy gdzieś używane */
{
	background-color: #dfd;
	margin: 5px 10px 5px 10px;
	padding: 2px 10px;
	border: 1px solid #d7d7d7;
}

div.Layout div#PanelPage td div.ScrolledImg
{
	width: 525px;
	margin-left: auto;
	margin-right: auto;
}

div.Layout div#PanelPage div.ScrolledImg
{
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

div.Layout div#PanelPage div.ScrolledImg div.Title
{
	padding: 5px 5px 0px 5px;
	width: auto;
	height: 25px;
	color: #fff;
	font-weight: bold;
	font-size: 11pt;
	text-align: left;

	background: url('/!images/default/panel_head.png');
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}

div.Layout div#PanelPage div.ScrolledImg div.Content
{
	overflow-x: auto;
	text-align: center;
	border: 1px solid #ccc;
}

div.Layout div#PanelPage div.ScrolledImg div.Content img
{
	margin: 5px;
}

div.Layout div#PanelPage sub.ExtraLinkDetails span
{
	color: #a66;
}

div.Layout div#PanelPage sub.ExtraLinkDetails
{
	color: #a66;
	font-size: 8pt;
}

div.Layout div#PanelPage sub.ExtraLinkDetails a
{
	font-weight: normal;
}

div.Layout div#PanelPage sup.ExtraLinkDetails
{
	color: #a00;
	font-size: 8pt;
}

div.Layout div#PanelPage div.SearchBySTC div.Header
{
	padding: 5px 5px 0px 10px;
	width: auto;
	height: 25px;
	color: #fff;
	font-weight: bold;
	font-size: 11pt;
	text-align: left;

	background: url('/!images/default/panel_head.png');
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}

div.Layout div#PanelPage div.SearchBySTC div.Content
{
	margin: 0px;
	padding: 3px;
	width: auto;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}

div.Layout div#PanelPage div.SearchBySTC div.Footer
{
	color: #c00;
	background-color: #ffa;
	border: 1px solid #ccc;
	
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}
div#PanelPage table.FormatCSV
{
	margin: 2px 10px;
	border: 1px solid #aaa;
	background-color: #fff;
	width: auto;
}

div#PanelPage table.FormatCSV th
{
	padding: 3px 4px;
}

div#PanelPage table.FormatCSV td
{
	padding: 1px 2px;
}
div#PanelPage ul.FormatPKT
{
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

div#PanelPage ul.FormatPKT li
{
	padding: 1px 0px;
}

div#PanelPage ul.ExternalLinks
{
	margin: 0px;
	padding: 0px 0px 0px 10px;
	list-style-type: none;	
}

div#PanelPage ul.ExternalLinks li
{
	padding: 4px 0px;
	font-size: 10pt;
}

div#PanelPage ul.ExternalLinks li img
{
	padding: 0px 5px;
	vertical-align: middle;
}
div#PanelPage table.DocRel
{
	margin: 2px 10px;
	border-width: 0px;
	background-color: transparent;
	width: auto;
}

div#PanelPage table.DocRel th
{
	border: 1px solid #aaa;
	border: #999 1px solid;
	background-color: #e8e7e5;
	padding: 2px 4px;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

div#PanelPage table.DocRel td
{
	border: #d7d7d7 1px solid;
	padding: 2px 4px;
	background-color: #fff;
}

div#PanelPage table.DocRel td span.RelCategory
{
	color: #a00;
}@media print
{
	body
	{
		background-image: none;
		background-color: transparent;
		margin: 0px;
		padding: 0px;
	}

	div.Layout
	{
		border-width: 0px;
		border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
		box-shadow: 0px 0px 0px 0px #bbb;
		-moz-box-shadow: 0px 0px 0px 0px #bbb;
		-webkit-box-shadow: 0px 0px 0px 0px #bbb;
	}

	div.Layout div.Baner
	{
		border-width: 0px;
		text-align: center;
		margin-bottom: 10px;
	}

	div#PanelPage div.modeCollapse
	{
		height: auto;
		overflow: visible;
	}

	div.Layout div#PanelPage
	{
		margin-right: 0px;
	}

	div.Layout div.Extra,
	div.Layout div#PanelPrimaryMenu,
	div.Layout div#PanelSecondaryMenu,
	div.Layout div#PanelPage table.PrevNext,
	div.Layout input#ddt_dynamicAddress,
	div.Layout div.SearchBox,
	div.Layout div#PanelAdverts,
	div.Layout div#PanelAdvertsCentral,
	div.Layout div.DisableFromPrinting,
	div.Layout div#PanelPageDescription,
	div.Layout div#PanelPage div.InsertExternalLink
	{
		display: none;
		border-width: 0px;
		margin: 0px;
	}

	div.Layout div#PanelPage div.copyright
	{
	    border: 3px double red;
	    margin: 10px 0px;
	}

	div.Layout div.Footer
	{
	    margin: 0px;
		font-size: 8pt;
	}

	div.Layout div.AllRightsReserved
	{
		border-right: 1px solid #bbb;
	}

	div.Layout div.Architect
	{
		border-left: 1px solid #bbb;
	}
}